In [1]:
### Q1. How do you comment code in Python? What are the different types of comments?

In [2]:
### Ans In Python, e can comment code using the "#" symbol after the "#" symbol on a line is considered a comment . There are two types of comments in Python:

In [3]:
''' 
 Single-line comments.
 multi line comment.
 '''

' \n Single-line comments.\n multi line comment.\n '

In [4]:
### Q2. Variables in Python are used to store values. You can declare a variable and assign a value to it using the following syntax:

In [9]:
a= "age"
name = "ram"
age=35

In [10]:
### Q3. In Python, you can convert one data type to another using type conversion functions or by assigning a new value of a different data type to the variable. Some commonly used type conversion functions include:

In [12]:
# Convert a string to an integer
num_str = "19"
num_int = int(num_str)

# Convert an integer to a string
num_int = 9
num_str = str(num_int)

In [13]:
###Q4. How do you write and execute a Python script from the command line?

In [14]:
### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [15]:
my_list = [1,3,4,5,6,7,8,9]
sub_list = my_list[1:3]
print(sub_list)

[3, 4]

In [16]:
### Q6. What is a complex number in mathematics, and how is it represented in Python?

In [17]:
z = 3 + 2j
print(z)

(3+2j)

In [18]:
###Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [19]:
age = 25

In [22]:
"""Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to?"""

'Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable \nbelong to?'

In [23]:
pric=9.99

In [34]:
type(pric)

float

In [36]:
""" Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable?"""

' Q9. Create a variable named name and assign your full name to it as a string. How would you print the \nvalue of this variable?'

In [37]:
name="rahulrai"
print(name)

rahulrai

In [38]:
###Q10. Given the string "Hello, World!", extract the substring "World".

In [39]:
string = "Hello, World!"
substring = string[7:12]
print(substring)

World

In [40]:
###Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
### currently a student or not.

In [41]:
is_student = True